<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

  <title>Mahasiswa</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Mahasiswa</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  
  <!-- Form Modal -->
  <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="formModalLabel">DATA_MODAL_TITLE</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="index.php" method="post">
          <div class="modal-body">
            <input type="hidden" name="id" id="id" DATA_ID>
            <div class="form-group">
              <label for="nim">NIM</label>
              <input type="text" class="form-control" name="nim" id="nim" DATA_NIM required>
            </div>
            <div class="form-group">
              <label for="nama">Nama</label>
              <input type="text" class="form-control" name="nama" id="nama" DATA_NAMA required>
            </div>
            <div class="form-group">
              <label for="tempat">Tempat Lahir</label>
              <input type="text" class="form-control" name="tempat" id="tempat" DATA_TEMPAT required>
            </div>
            <div class="form-group">
              <label for="tl">Tanggal Lahir</label>
              <input type="date" class="form-control" name="tl" id="tl" DATA_TL required>
            </div>
            <div class="form-group">
              <label for="gender">Jenis Kelamin</label>
              <select class="form-control" name="gender" id="gender" required>
                <option value="Laki-laki" DATA_GENDER_L>Laki-laki</option>
                <option value="Perempuan" DATA_GENDER_P>Perempuan</option>
              </select>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="email" id="email" DATA_EMAIL required>
            </div>
            <div class="form-group">
              <label for="telp">No. Telepon</label>
              <input type="text" class="form-control" name="telp" id="telp" DATA_TELP required>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
            <button type="submit" name="DATA_SUBMIT_TYPE" class="btn btn-primary">Simpan</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <!-- Delete Confirmation Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Konfirmasi Hapus</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="index.php" method="post">
          <div class="modal-body">
            <p>Apakah Anda yakin ingin menghapus data ini?</p>
            <input type="hidden" name="id" id="deleteId" value="">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
            <button type="submit" name="delete" class="btn btn-danger">Hapus</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <div class="container-fluid text-center my-4">
    <div class="row mb-3">
      <div class="col-12 text-left">
        <button class="btn btn-primary" data-toggle="modal" data-target="#formModal" data-action="add">Tambah Mahasiswa</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h3 class="mb-4">TABEL MAHASISWA</h3>
        <table align="left" border="1" class="table" style="text-align: center;">
          <thead class="thead-light">
            <tr>
              <th scope="col">NO</th>
              <th scope="col">NIM</th>
              <th scope="col">NAMA</th>
              <th scope="col">TEMPAT</th>
              <th scope="col">TANGGAL LAHIR</th>
              <th scope="col">GENDER</th>
              <th scope="col">EMAIL</th>
              <th scope="col">TELEPON</th>
              <th scope="col">AKSI</th>
            </tr>
          </thead>
          <tbody>
            DATA_TABEL
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
  
  <script>
    $('#formModal').on('show.bs.modal', function(event){
      const button = $(event.relatedTarget);
      const action = button.data('action');
      const modal = $(this);
      
      if(action === 'add'){
        modal.find('.modal-title').text('Tambah Mahasiswa');
        modal.find('#id').val('');
        modal.find('#nim').val('');
        modal.find('#nama').val('');
        modal.find('#tempat').val('');
        modal.find('#tl').val('');
        modal.find('#gender').val('Laki-laki');
        modal.find('#email').val('');
        modal.find('#telp').val('');
        modal.find('button[name="DATA_SUBMIT_TYPE"]').attr('name', 'add');
      }else if(action === 'edit'){
        const id = button.data('id');
        const nim = button.data('nim');
        const nama = button.data('nama');
        const tempat = button.data('tempat');
        const tl = button.data('tl');
        const gender = button.data('gender');
        const email = button.data('email');
        const telp = button.data('telp');
        
        modal.find('.modal-title').text('Edit Mahasiswa');
        modal.find('#id').val(id);
        modal.find('#nim').val(nim);
        modal.find('#nama').val(nama);
        modal.find('#tempat').val(tempat);
        modal.find('#tl').val(tl);
        modal.find('#gender').val(gender);
        modal.find('#email').val(email);
        modal.find('#telp').val(telp);
        modal.find('button[name="DATA_SUBMIT_TYPE"]').attr('name', 'update');
      }
    });
    
    $('#deleteModal').on('show.bs.modal', function(event){
      const button = $(event.relatedTarget);
      const id = button.data('id');
      const modal = $(this);
      
      modal.find('#deleteId').val(id);
    });
  </script>
</body>

</html>